.Sidebar {
  width: 250px;
  background-color: rgba(178, 187, 30, 0.6);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  color: black;
  flex-shrink: 0;
}

.List .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: 16px;
}

.List {
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

.List .row:hover {
  cursor: pointer;
  background-color: rgba(178, 187, 30, 0.8);
}

.List .row.active {
  background-color: rgba(178, 187, 30, 1);
  font-weight: 600;
}

.List .row.active:hover {
  background-color: rgba(178, 187, 30, 1);
}

.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 80%;
  display: grid;
  justify-items: left;
}

