.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: rgb(196, 248, 203);
}

.List .row {
  width: 100%;
  height: 80px;
  border: 1px rgb(196, 248, 203);
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

span {
  margin-left: 16px;
}

.List {
  height: auto;
  padding: 0;
  width: 100%;
}

.List .row:hover {
  cursor: pointer;
  background-color: #a2c7ad;
}

.row #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 80%;
  display: grid;
  justify-items: left;
}